.gameOver {
    opacity: 0;
    visibility: hidden;

    transition: 0.2s;
}

@import 'predefinied.scss';


*,
html,
body {
    touch-action: manipulation;

}


.d-none {
    display: none;
}

.btn {
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s;
    background: none;
    padding: 0;
    border: none;
    font-weight: 400;
    font-family: 'Indie Flower', cursive;

    &:hover,
    &:active {
        text-decoration: none;
        outline: none;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        border: none;
    }

    &:hover {
        transform: scale(1.2) rotate(5deg);
    }

    &:active {
        transform: scale(1) rotate(5deg);
    }
}


.score {
    position: absolute;
    z-index: 1;
    left: 5vw;
    bottom: 58vh;
    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;
    color: $carrot;
    user-select: none;
    transition: 0.3s;
}


@media (max-height:640px) {
    .header {
        display: none;
    }
}

@media (min-width:1px) {

    .transparent {
        opacity: 0;
        transform: translate(-50%, -50%) rotate3d(1, 0, 0, 88deg);
        z-index: -1;
    }
}


@media (min-width:576px) {
    .container {
        min-width: 500px;
    }
}

@media (min-width: 768px) and (min-height:600px) {

    .wishes {

        &__text {
            font-size: 2rem;
        }


        &__who-wish {
            font-size: 1.75rem;
        }

    }

    .btn {
        font-size: 1.75rem;
    }


}

@media (min-width:992px) {
    .container {
        min-width: 750px;
    }
}

@media (orientation:landscape) {
    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .company-logo {
        width: 180px;
    }

    .container {
        top: calc(50% - 100px);
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);

        .btn {
            margin: 1rem;
        }
    }


    .button-group {
        display: flex;
        justify-content: space-around;
        margin-top: 1vh;
    }

    .rules {
        svg {
            transform: translateY(6px);
        }
    }

    .form-group {
        position: relative;
        width: calc(50% - 4rem);
        padding: 1rem 2rem;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;

        &.focused {
            .form-label {
                transform: translateY(-1.2rem);
                font-size: 1rem;
            }
        }
    }

    .form-label {
        position: absolute;
        padding: 0.25rem 0.5rem;
        transition: 0.4s;
        z-index: -1;
    }

    .form-input {
        padding: 0.25rem 0.5rem;
        padding-bottom: 0;
        width: 100%;
        line-height: 1.8;
        background: transparent;
        border: none;
        border-bottom: 4px dotted #4c6d734f;
        font-size: 1.5rem;
        font-family: 'Indie Flower', cursive;
        position: relative;
        z-index: 2;

        &:hover,
        &:focus {
            outline: none;
        }
    }

    .form-info {
        padding: 0 2.5rem;
    }

    .form-btn {
        background: transparent;
        outline: none;
        border: none;
        font-family: 'Indie Flower', cursive;
        padding: 0;
        cursor: pointer;
    }



    .regulations,
    .ranking {
        &__text-container {
            max-height: 300px;
            height: 70vh;
            overflow: hidden;
        }
    }


    .container-too-big {
        max-height: 300px;
        height: 70vh;
        overflow: hidden;
    }

    .ranking {
        &__text-container {
            font-size: 2rem;
            max-height: 200px;
        }

        &__number {
            width: 30px;
        }

        &__yours {
            font-size: 2rem;
            margin-top: 0.5rem;
            border-top: 4px dotted #4c6d734f;
        }
    }



    .footer {
        overflow-x: hidden;

        &__nav {
            justify-content: flex-end;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            overflow: hidden;
        }

        &__link {
            color: black;
            font-size: 1rem;
            padding: 1rem;
            text-decoration: none;
            transition: 0.3s;
            cursor: pointer;

            &:hover,
            &:active {
                color: black;
                text-decoration: none;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        &__img {
            position: absolute;
            bottom: 0;
            width: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

}

@media (max-width:576px) and (orientation:portrait) {
    .container {
        position: absolute;
        top: 50%;
    }
}

@media (max-width:768px) {
    .container {
        top: 0;
        transform: none;
        position: absolute;

        .button-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

@media (max-width:992px) {

    body {
        overflow-x: hidden;
        // width: 100vw;
    }

    .company-logo {
        height: 40px;
    }

    .background-mobile {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: #7FCE86;
        height: 39vh;
    }

    .touch-buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.2s;
        width: 100%;
        z-index: 1;
        opacity: 0;

        &.show {
            opacity: 1;
            // visibility: visible;

            .btn {
                opacity: 1;
                // visibility: visible;
            }
        }

        .btn {
            margin: 1rem;
            transition: 0.1s;
            opacity: 0;
            // visibility: hidden;
            z-index: 1;

            svg {
                width: 100px;
                height: 50px;
            }

            &:focus {
                transform: scale(1);
            }

            &:hover {
                transform: scale(1);
            }

            &:active {
                transform: scale(0.8);
            }
        }
    }

    .score {
        bottom: 30vh;
        color: white;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    .container {
        overflow-x: hidden;

        .btn {
            background: white;
            border-radius: 200px;
            margin: 0.5rem;
            padding: 0.5rem 0.75rem;
        }

        .form-group {
            font-size: 1rem;
        }

        .form-input {
            font-size: 1rem;
        }

        small {
            font-size: 0.6rem;
        }


    }

    .fontSize-H1 {
        font-size: 1rem;
    }


    .ranking {
        &__text-container {
            font-size: 1rem;
        }

        &__yours {
            font-size: 1rem;
        }
    }


    .wishes {

        &__smaller,
        &__who-wish {
            font-size: 1rem;
        }
    }

    .footer__link {
        padding-bottom: 0.25rem;
    }
}